name: Create Release Branch
on:
  workflow_dispatch:
    inputs:
      versionName:
        description: 'Name of version (ie 5.5.0)'
        required: true
jobs:
  createrelease:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.event.inputs.versionName }}
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Create release branch
      run: git checkout -b "release/v${VERSION}"
    - name: Initialize mandatory git config
      run: |
       git config user.name "GitHub Actions"
       git config user.email noreply@github.com
    - name: Change version number and name
      run: |
       sed -i "s/__version__ = .*/__version__ = \"${VERSION}\"/" tangelo/_version.py
       git commit tangelo/_version.py --message "Bumping Tangelo version number in _version.py"
    - name: Push new branch
      run: git push origin "release/v${VERSION}"
    - name: Create pull request into main
      uses: thomaseizinger/create-pull-request@1.0.0
      with:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
       head: release/v${{ env.VERSION }}
       base: main
       title: New release v${{ env.VERSION }} into main
       reviewers: ${{ github.event.issue.user.login }}
       body: |
         This PR was created in response to "create_release_branch" workflow running.
         It automatically updated the version number.
         Don't forget to update CHANGELOGS.md, and then merge back main into develop after this PR goes through.
         For the review, only version bumping files are of interest, and making sure tests are passing.
         Afterwards, creating a release on github or on pypi can be done.
